html, body{
    height: 100%;
}

#board {
    width: auto;
    border: 1em solid;
    border-radius: 1em;
}

#game {
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

#messages {
    height: 20rem;
    width: 8em;
    overflow-y: scroll;
    border: solid;
    padding-left: 1em;
    margin-bottom: 0em;
    text-align: left;
}

#messages p {
    margin: 0;
}

#misc {
    border: 1px solid;
    width: 8em;
    height: auto;
}

#misc ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

#misc ul li {
    display: inline-block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
