#board {
    width: auto;
    border: 1em solid;
    border-radius: 1em;
}

#game {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

#messages {
    height: 100%;
    width: 8em;
    overflow-y: scroll;
    border: solid;
    padding-left: 1em;
    margin-bottom: 0em;
    text-align: left;
}

#messages p {
    margin: 0;
}

#misc {
    border: 1px solid;
    width: 8em;
    height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
