html, body{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    background-color: midnightblue;
    color: azure;
}

body h1{
    text-align: center;
}

button{
    border: 1 solid darkblue;
    border-color: steelblue;
    background-color: steelblue;
    color: azure;
}

.border {
    border: 1px solid;
    border-radius: 1px;
    margin: 1px;
    padding: 1em;
}

#board {
    width: auto;
}

#game {
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

#messages {
    height: 7rem;
    width: auto;
}

#historial-container {
    height: 7rem;
    width: auto;
    overflow-y: scroll;
    padding-left: 1em;
    margin-bottom: 0em;
    text-align: left;
}

#historial {
    width: 100%;
    border-collapse: collapse;
}

#historial td, tr, th {
    border: 1px solid azure;
    padding-left: 1rem;
    padding-right: 1rem;
}

#historial p {
    margin: 0;
}

#misc {
    width: 8em;
    height: auto;
}

#misc ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

#misc ul li {
    display: inline-block;
}

#boardgame{
    position: relative;
}

.board-message {
    background-color: white;
    border: 1px solid black;
    padding: 1em;
    margin: 0;
    width: auto;
    height: auto;
    border-radius: 1em;
    position: absolute;
    top: 1em;
    left: 1em;
}

#promotion button[id^="p-"] {
    font-size: 3em;
}

.hide {
    display: none;
}
