html, body{
    height: 100%;
    font-family: "lucida console", monospace;
    background-color: midnightblue;
    color: azure;
}

body h1{
    text-align: center;
}

button{
    font-family: "lucida console", monospace;
    border-width: 1px;
    border-style: solid;
    border-color: steelblue;
    background-color: azure;
    color: midnightblue;
}

button:active{
    color: azure;
    background-color: midnightblue;
    border-color: azure;
}

.border {
    border: 1px solid azure;
    border-radius: 1px;
    margin: 1rem;
    padding: 1em;
    box-shadow: 1rem 1rem black;
}

#board {
    width: auto;
}

#game {
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

#left {
    width: auto;
}

#messages {
    height: 4rem;
}

#historial-container {
    height: 7rem;
    width: auto;
    overflow-y: scroll;
    padding-left: 1em;
    margin-bottom: 0em;
    text-align: left;
}

#historial {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
}

#historial td, tr, th {
    border: 1px solid azure;
    padding-left: 1rem;
    padding-right: 1rem;
}

#historial p {
    margin: 0;
}

#misc {
    width: 8em;
    height: auto;
}

#misc ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

#misc ul li {
    display: inline-block;
}

#boardgame{
    position: relative;
}

#promotion {
    background-color: midnightblue;
    position: absolute;
    top: 1em;
    left: 1em;
}

#promotion button[id^="p-"] {
    font-size: 3em;
}

#request-dialog {
    background-color: midnightblue;
    position: absolute;
    top: 1em;
    left: 1em;
}

.hide {
    display: none;
}

.fixed-width-5rem {
    width: 5rem;
}
